html {
  box-sizing: border-box;
  min-height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
  font-weight: 100 900;
}
body {
  font-family: "Inter", sans-serif;
  min-height: 100%;
}

button {
  font: inherit;
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 70.625rem;
  width: 93%;
}

.btn {
  background-color: hsl(5deg, 85%, 63%);
  border: none;
  color: hsl(36deg, 100%, 99%);
  cursor: pointer;
  font-weight: 700;
  padding: 1em 2em;
  text-transform: uppercase;
}

.grid {
  display: grid;
  gap: 3.75rem;
}

@media screen and (min-width: 40.75rem) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    column-gap: 1.8125rem;
    row-gap: 4.5rem;
  }
  .grid .title-section {
    grid-column: span 2;
    display: grid;
    grid-template-rows: auto/1fr;
  }
  .grid .title-section .title-image img {
    height: 100%;
    object-fit: cover;
  }
  .grid .latest-section {
    grid-column: span 2;
  }
  .grid .popular-section {
    grid-column: 1/5;
  }
}
.main-header {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.main-nav {
  display: none;
  background-color: hsl(36deg, 100%, 99%);
  height: 100vh;
  width: 70%;
  top: 0;
  right: 0;
  padding-top: 8rem;
  position: absolute;
}
.main-nav::before {
  background-color: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 100%;
}

.main-menu {
  list-style: none;
  padding-left: 1.5em;
}
.main-menu .main-nav-item + .main-nav-item {
  margin-top: 1em;
}
.main-menu .main-nav-link {
  text-decoration: none;
  color: hsl(240deg, 100%, 5%);
}
.main-menu .main-nav-link:hover {
  color: hsl(5deg, 85%, 63%);
}

.main-logo {
  width: 46px;
}

.mobile-nav-toggle {
  z-index: 1;
}

@media screen and (min-width: 40rem) {
  .mobile-nav-toggle {
    display: none;
  }
  .main-nav {
    height: auto;
    width: auto;
    padding-top: unset;
    position: static;
    display: block;
  }
  .main-menu {
    display: block;
    display: flex;
    gap: 2.375rem;
  }
  .main-menu .main-nav-item + .main-nav-item {
    margin-top: unset;
  }
  .main-menu .main-nav-link {
    color: hsl(236deg, 13%, 42%);
  }
}
.title-heading {
  font-size: clamp(2.6rem, 2.3535rem + 1.0516vw, 3.3rem);
  font-weight: 800;
}

.title-text {
  color: hsl(236deg, 13%, 42%);
  margin-top: 1.75rem;
}
.title-text p {
  line-height: 1.5em;
  font-size: 0.9375rem;
}
.title-text .btn {
  margin-top: 1.75rem;
  letter-spacing: 0.225rem;
  font-size: 0.9375rem;
}
.title-text .btn:hover {
  background-color: hsl(240deg, 100%, 5%);
}

@media screen and (min-width: 39.6875rem) {
  .title-body {
    display: flex;
    margin-top: 2.0625rem;
  }
  .title-heading {
    font-weight: 850;
    margin-right: 2.125rem;
  }
  .title-text {
    margin-top: 0;
    flex-shrink: 1.3;
    display: grid;
  }
  .title-text .btn {
    margin-top: 0;
    align-self: end;
    justify-self: start;
  }
}
.latest-section {
  background-color: hsl(240deg, 100%, 5%);
  color: hsl(36deg, 100%, 99%);
  padding: 1.875rem 1.25rem;
}
.latest-section .latest-heading {
  color: hsl(35deg, 77%, 62%);
  font-size: 2rem;
}

.latest-article {
  padding-top: 2.25rem;
}
.latest-article + .latest-article {
  border-top: 1px solid hsl(236deg, 13%, 42%);
  margin-top: 1.875rem;
}
.latest-article .latest-article-heading {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}
.latest-article .latest-article-heading:hover {
  color: hsl(35deg, 77%, 62%);
}
.latest-article .latest-article-text {
  color: hsl(233deg, 8%, 79%);
  line-height: 1.7;
}

@media screen and (min-width: 63.75rem) {
  .latest-section {
    padding: 2.375rem 1.74rem;
  }
}
.popular-section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 5.0625rem;
}

.popular-article {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.popular-article .popular-article-header {
  flex-basis: 6.25rem;
  flex-shrink: 0;
  line-height: 0;
}
.popular-article .popular-article-heading {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.popular-article .popular-article-heading:hover {
  color: hsl(5deg, 85%, 63%);
  cursor: pointer;
}
.popular-article .popular-article-heading .popular-article-rating {
  color: hsl(233deg, 8%, 79%);
  font-size: 2rem;
  display: block;
  margin-bottom: 0.5rem;
}
.popular-article .popular-article-text {
  color: hsl(236deg, 13%, 42%);
  line-height: 1.7;
}

@media screen and (min-width: 63.75rem) {
  .popular-section {
    flex-direction: row;
  }
}
.attribution {
  position: absolute;
  font-size: 11px;
  text-align: center;
  width: 100%;
  padding-bottom: 1.5em;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}

/*# sourceMappingURL=main.css.map */
