.main-header{
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  margin-top: 1.75rem;
  margin-bottom: 1.75rem;
}

.main-menu{
  display: none;
}

.main-logo{
  width: 46px;
}
